.navbar {
    background-color:black;
    width: 212px;
    height: 1080px;
    position: fixed;
  
    
  }
  .SidebarList{
   HEIGHT: auto;
   WIDTH:100%;
   padding: 0;
  }
  .SidebarList .row {
  width : 100%;
  height: 70px;
  list-style-type: none;
  margin:0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  }

  .SidebarList .row :hover{
  cursor: pointer;
  }
  .row .IconStyle{
   flex:30%;
   display: grid;
   place-items: center;

  }

  .row .TextStyle{
    flex:70%;
    
 
 
   }